body {
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100vw;
    height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Admin.cshtml styles*/
#Admin_cshtml_Image {
    position: relative;
    background-image: url("Images/MonopolyCar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: 0vh;
    left: -10vh;
    width: 100vw;
    height: 150vh;
}

#Admim_cshtml_Color_Overlay {
    position: relative;
    bottom: 0;
    right: 0;
    background-size: cover;
    background: rgba(125,125,125,0.45);
    width: 100vw;
    height: 150vh;
    z-index: 1;
}
