/*!!!!!!! LANDING PAGE !!!!!!!*/
/******* " ARE YOU PAYING TOO MUCH FOR YOUR INSURANCE ? "  ******/
/*Home/Index styles*/
html {
    width:100vw;
    height:100vh;
}

body {
    position: relative;
    top: -7vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: no-repeat;
    background-image: url("Images/FrontPage.jpg");
    background-size: cover;
}


#LandingPageHomeIndex {
    position: relative;
    top: 0;
    left: 0vw;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,.035);
    /* background: url("Images/LandingPageCut.png");
    background-size: cover;*/
}



#ColorOverlay {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255, 0.45);
    z-index: 1;
}

#TextOverlay {
    position: relative;
    background-size: cover;
 
    width: 100%;
    height: 100%;
}

#AreYou {
    position: relative;
    top: 10vh;
    left: 0vw;
    text-align:center;
    padding-top: 1.5rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-size: 5em;
    font-style: italic;
    color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#Sadly {
    position: relative;
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-size: 2.5em;
    /*     font-style: italic;*/
    position: relative;
    top: 10vh;
    left:0;
    text-align:center;
    padding-top: 0px;
    margin-bottom: 0px;
}

#Favor {
    position: relative;
    top: 25vh;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 1.75em;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: white;
    text-align: center;
}

#HowMuch {
    position: relative;
    top: 25vh;
    left: 0vw;
    margin-bottom: 0;
    font-family: "Nunito Sans",sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
    text-align: center;
}


#FreeQuoteButton a {
    position: relative;
    top: 30vh;
    left: 40vw;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    width: 27vw;
    height: 7vh;
    text-align: center;
    background-color: rgb(144,123,248);
    color: white;
}

span {
    font-size:1.5em
}