body {
    background-color: darkgray;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%);
    color: ghostwhite
}

h1 {
    font-family: "Tangerine", cursive;
    font-size: 5em;
    font-weight: bold;
    padding: 10px 10px;
    margin: 0 auto;
}



h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

#CreateAutoQuote {
    width: 20vw;
    height: 10vh;
    background-color: orchid;
    color: white;
    padding: 5px;
    text-align: center;
}