
@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Index</title>
  <link rel="stylesheet" href="~/Content/styles_HomeIndexLandingPage.css" type="text/css">
</head>
<body>
  <div id="LandingPageHomeIndex">
    @*<img src="~/Content/Images/LandingPageCut.png" aspect-ratio="auto" alt="Middle Of Road Picture" />*@
    <div id="ColorOverlay">
        <div id="TextOverlay">
          <h1 id="AreYou">Are you paying too much for auto insurance?</h1>

          <h5 id="Sadly">Sadly,... the answer is probably "YES".</h5>

          <p id="Favor">Let's just take a moment and think about that ...shall we???<br/>
            Now do yourself a favor ...</p>
          <p id="HowMuch"><span> Stop Throwing Your $$$$$ Away!!!</span></p>

          <div id="FreeQuoteButton">
            @Html.ActionLink("Get Your FREE QUOTE Right Here!", "Create", "Insurees");
          </div>
      </div>
    </div>
    </div>
</body>
</html>
